.Bigline {
	font-family: sans-serif;
	margin: 0 auto;
	font-size: 16px;
	padding: 0 1em;

	.Post {
		&__Content {
			padding: 1.5em 0;
		}

		&__Title {
			font-weight: bolder;
			padding: 0 0 0.4em;
			font-size: 2em;
		}
	}

	.Post-0 {
		display: flex;
		flex-direction: column;
		padding-bottom: 1.5em;

		.Post__Content {
			padding: 0 0 1em;
		}

		.Post__Title {
			font-size: 2em;
		}

		.Post__Thumbnail {
			order: 1;
		}
	}

	@media (max-width: 599px) {
		.Post {
			border-bottom: 1px solid #eee;
		}

		.Column-0,
		.Column-1 {
			width: 100%;
		}

		.Column-1 {
			.Post {
				align-items: flex-start;
				display: flex;
				padding: 1.5em 0;

				&:last-child {
					border: none;
				}

				.Post__Content {
					flex: 1;
					padding: 0 1.5em 0 0;
				}

				.Post__Title {
					font-size: 1.2em;
				}

				.Post__Thumbnail {
					order: 1;
					width: 120px;
				}
			}
		}
	}

	@media (min-width: 600px) {
		&__Grid {
			display: flex;
		}

		.Column-0 {
			flex: 1;
			padding-right: 2em;
		}

		.Column-1 {
			width: 40%;

			.Post {
				border-bottom: 1px solid #eee;

				&:first-child {
					.Post__Content {
						padding-top: 0;
					}
				}

				&:last-child {
					border: none;
				}
			}

			.Post__Title {
				font-size: 1.2em;
			}

			.Post__Thumbnail {
				display: none;
			}
		}
	}

	@media (min-width: 800px) {
		.Column-0 {
			.Post__Title {
				font-size: 2.5em;
			}
		}

		.Column-1 {
			.Post__Title {
				font-size: 1.5em;
			}
		}
	}
}
