.Newspaper {
	font-family: sans-serif;
	margin: 0 auto;
	font-size: 16px;
	padding: 0 1em;

	&__Grid {
		display: flex;
		flex-wrap: wrap;
	}

	.Post {
		border-bottom: 1px solid #eee;

		&:last-child {
			border: none;
		}

		&__Content {
			padding: 1.5em 0;
		}

		&__Title {
			font-weight: bolder;
			padding: 0 0 0.4em;
		}

		&__Excerpt {
			font-size: 0.8em;
			line-height: 1.4;
			margin: 0;
		}
	}

	@media (max-width: 599px) {
		& {
			padding: 0 1em;
		}

		.Column {
			width: 100%;
		}

		.Post:not(.Post-0) {
			border-bottom: 1px solid #eee;
			display: flex;
			align-items: flex-start;
			padding: 1.5em 0;

			.Post__Title {
				font-size: 1em;
			}

			.Post__Thumbnail {
				width: 100px;
			}

			.Post__Content {
				padding: 0 0 0 1em;
				flex: 1;
			}
		}

		.Post__Excerpt {
			display: none;
		}
	}

	@media (min-width: 600px) {
		.Column {
			width: 22.5%;
		}

		.Column-0 {
			order: 1;
			width: 55%;
			padding: 0 1.5em;
		}

		.Column-2 {
			order: 3;
		}

		.Post-0 {
			.Post__Title {
				font-size: 2.2em;
				text-align: center;
			}

			.Post__Excerpt {
				font-size: 1em;
				text-align: center;
			}
		}

		.Post-1 {
			display: flex;
			align-items: flex-start;
			padding: 1.5em 0;

			.Post__Thumbnail {
				max-width: 200px;
			}

			.Post__Content {
				padding: 0 0 0 1.5em;
			}
		}

		.Post-1,
		.Post-2,
		.Post-5 {
			.Post__Title {
				font-size: 1.2em;
			}
		}

		.Post-3,
		.Post-4,
		.Post-6,
		.Post-7 {
			.Post__Title {
				font-size: 1em;
			}
			.Post__Image {
				display: none;
			}
		}

		.Post-4,
		.Post-7 {
			border: none;
		}
	}

	@media (min-width: 600px) and (max-width: 880px) {
		.Column-0 {
			flex-grow: 1;
			padding-right: 0;
		}

		.Column-1 {
			flex-grow: 1;
		}

		.Column-2 {
			border-top: 1px solid #eee;
			padding: 1.5em 1em;
			width: 100%;
			display: flex;

			.Post {
				border: none;
				flex: 1;
				padding-right: 1em;

				&:last-child {
					padding-right: 0;
				}

				&__Thumbnail {
					display: none;
				}
			}
		}

		.Post-1,
		.Post-2,
		.Post-5 {
			.Post__Title {
				font-size: 1em;
			}
		}

		.Post-3,
		.Post-4,
		.Post-6,
		.Post-7 {
			.Post__Title {
				font-size: 1em;
			}
		}
	}
}
